.exhibitor_website {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: underline;
}

.exhibitor_website i {
    color: #2557a7;
    font-size: 14px;
}
