   /* .ts-control{
   border-radius: 15px;
   border-color: #2557A7 !important;
   } */
   .item{
   color: #515151;
   }
   .no_result {
   text-align: center;
   }
   .no_result_div{
   display: none;
   justify-content: center;
   }
   .no_result img {
   max-width: 50%;
   height: auto;
   }
   .no_result h1 {
   font-size: 28px;
   color: #333;
   margin: 40px 0;
   }
   .no_result p {
   margin: 40px 0;
   }
   .no_result ul {
   margin: 40px 0;
   }
   .options {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: center;
   gap: 20px;
   }
   .options li {
   font-size: 14px;
   color: #333;
   }
   #dateRangeInputs{
   display: none;
   }
   .error{
   color: red;
   }
   .generic-list-item li {
   margin-bottom: 0;
   line-height: unset;
   }
   .event-title a {
   color: #1C52A8 !important;
   cursor: pointer;
   }
   .ts-control {
   border: none !important;
   height:77px !important
   }
   .ts-wrapper {
   height: 92px !important;
   }
   .form-row {

  box-shadow: 0px 5px 16px 1px rgba(0, 0, 0, .1);
  display: flex;
    flex-wrap: wrap;
    z-index: 10 !important;
    position: relative;
  background: #fff;
  width: 370px;
}

