    .v2-d-page-header {
        background-color: #212121;
        position: relative;
        z-index: 1;
    }
    .v2-desc-page .v2-d-page-logo .v2-d-page-logo-text, .v2-desc-page .become-banner h6  {
        font-size: clamp(18px, 1vw + 1rem, 33px);
        font-weight: 500;
        color: #ffffff;
        line-height: 1.151;
    }
    .v2-d-svg-tr {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 553px;
        z-index: -1;
    }
    @media (max-width: 1024px) {
        .v2-d-svg-tr {
            max-width: 180px;
        }
    }

    .v2-desc-page .v2-d-banner {
        position: relative;
        background-color: #212121;
        padding-top: 165px;
        padding-bottom: 165px;
        z-index: 0;
    }

    .logo-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(24px, 4vw + 1rem, 66px);
        color: #ffffff;
        gap: 2.93rem;
        margin-bottom: 41px;
    }
    .logo-title svg {
       width: 100%;
       max-width: 78px;
    }
    @media (max-width: 768px) {
         .v2-desc-page .v2-d-banner {
            padding-top: 65px;
            padding-bottom: 65px;
         }
         .logo-title svg {
            max-width: 60px;
        }
    }
    .v2-desc-page .text-md {
        font-size: clamp(18px, 1vw + 1rem, 24px);
        font-weight: 400;
        color: #555555;
        margin-bottom: 28px;
        line-height: 1.375;
    }
    .v2-desc-page .v2-d-banner .text-md {
        color: #ffffff;
        font-weight: 500;
        margin-bottom: 34px;
        text-align: center;
        line-height: 1.16;
    }
    .v2-desc-page .v2-d-banner .reg-btn {
        font-size: clamp(18px, 1vw + 1rem, 24px);
        font-weight: 500;
        color: #ffffff;
        line-height: 2.66;
        padding: 0;
        text-align: center;
        min-width: 296px;
        border-radius: 21px;
        border: double 2px transparent;
        background-image: linear-gradient(#000000, #000000), linear-gradient(90deg, #00F6FF 0%, #AD29FF 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
    .v2-desc-page .v2-d-svg-ml {
        position: absolute;
        width: 100%;
        max-width: 315px;
        left: 0;
        top: 130px;
        z-index: -1;
    }
    .v2-desc-page .why-block {
        background-color: #ffffff;
        padding-top: 87px;
        padding-bottom: 32px;
    }
    .v2-desc-page .v2-desc-heading {
        font-size: clamp(24px, 3vw + 1rem, 39px);
        font-weight: 500;
        line-height: 1.15;
        color: #000000;
    }
    .v2-desc-page .why-block .v2-desc-heading {
        margin-bottom: 43px;
    }

    .v2-desc-page .counts-container {
        gap: 24px;
        margin-top: 72px;
    }

    .v2-desc-page .counts-container .attendees,
    .v2-desc-page .counts-container .sessions,
    .v2-desc-page .counts-container .exhibitors {
        width: 100%;
        max-width: 283px;
    }

    .v2-desc-page .counts-container h6 {
        color: #646464;
        font-weight: 500;
    }
    .v2-desc-page .counts-container .count {
        font-size: clamp(24px, 4vw + 1rem, 66px);
        font-weight: 500;
        color: #646464;
        padding-top: 34px;
        padding-bottom: 21px;
        line-height: 1.151;
    }
     .v2-desc-page .counts-container .line {
        border-top: 1px solid #000000;
        width: 100%;
        max-width: 283px;
        margin: 0;
    }
    .v2-desc-page .inside-event {
        background-color: #F9F9F9;
        padding-top: 73px;
        padding-bottom: 64px;
    }

    .v2-desc-page .inside-event .deco-line {
        margin-top: 13px;
        margin-bottom: 21px;
        width: 100%;
        max-width: 283px;
        border-top: 1px solid #000000;
    }
    .v2-desc-page .text-sm {
        font-size: 20px;
        font-weight: 400;
        color: #000000;
        line-height: 23px;
    }
    .v2-desc-page .nav.nav-tabs {
        margin-top: 54px;
        gap: 14px;
    }
    .v2-desc-page .nav-tabs .nav-link {
        font-size: clamp(18px, 1vw + 1rem, 24px);
        color: #000000;
        border: 1px solid #000000;
        border-radius: 6px;
        line-height: 1.166;
        padding: 10px 18px !important;
        font-weight: 500;
    }
    .v2-desc-page .nav-tabs .nav-link.active  {
        background-color: #000000;
        color: #ffffff;
    }
    .v2-desc-page .v2-desc-agenda {
        border: 2px solid #EDEFEF;
        border-radius: 6px;
        padding: 23px 44px 29px 27px;
        margin-bottom: 34px;
    }
    @media (max-width: 768px) {
        .v2-desc-page .v2-desc-agenda {
            padding: 24px;
        }
    }
    .v2-desc-page .v2-d-badge-con {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        align-items: start;
    }
    .v2-desc-page .v2-d-hall-badge, .v2-desc-page .v2-d-time-badge {
        font-size: 11px;
        font-weight: 500;
        line-height: 13px;
        color: #000000;
        padding: 6px 16px;
        border-radius: 6px;
        background-color: #E3F8F5;
    }
    .v2-desc-page .v2-d-time-badge {
        background-color: #E7BFFF;
    }
    .v2-desc-page .v2-desc-agenda h6 {
        font-size: clamp(18px, 1vw + 1rem, 20px);
        font-weight: 500;
        line-height: 23px;
        color: #000000
    }
    .v2-desc-page .v2-desc-agenda .text-xs {
        font-size: 17px;
        line-height: 20px;
        font-weight: 300;
        color: #000000;
    }

    .v2-desc-page .v2-d-agn-pro {
        min-width: 66px;
        min-height: 66px;
        max-width: 66px;
        max-height: 66px;
        border-radius: 100%;

    }
    .v2-desc-page .mb-18 {
        margin-bottom: 18px;
    }
    .v2-desc-page .mb-22 {
        margin-bottom: 22px;
    }
    .v2-desc-page .mb-60 {
        margin-bottom: 60px;
    }
    .v2-desc-page .mb-6 {
        margin-bottom: 6px;
    }
    .v2-desc-page .std-btn {
        background-color: #2557A7;
        color: #ffffff;
        border-radius: 6px;
        font-size: 20px;
        line-height: 23px;
        padding: 10px 50px;
        font-weight: 500;
    }
    .v2-desc-page .become-banner {
        position: relative;
        background-color: #000000;
        padding-top: 60px;
        padding-bottom: 30px;
        z-index: 1;
    }
    .v2-desc-page .become-banner .right-cor-svg {
        position: absolute;
        right: 0;
        top: 100px;
        z-index: -1;
    }
    .v2-d-logo-circle {
        min-width: 141px;
        max-width: 141px;
        min-height: 141px;
        max-height: 141px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: double 2px transparent;
        background-image: linear-gradient(#000000, #000000), linear-gradient(180deg, #AD29FF 0%, #00F6FF 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
    .v2-desc-page .become-banner h6 {
        margin-bottom: 19px;
    }
    .v2-desc-page .become-banner p  {
        font-size: clamp(18px, 1vw + 1rem, 21px);
        font-weight: 500;
        color: #ffffff;
        line-height: 1.142;
        max-width: 642px;
        margin-bottom: 45px;
    }

     .v2-desc-page .become-btn {
        font-size: clamp(18px, 1vw + 1rem, 20px);
        font-weight: 500;
        color: #ffffff;
        line-height: 2.8;
        padding: 0;
        text-align: center;
        min-width: 235px;
        border-radius: 6px;
        border: double 1.2px transparent;
        background-image: linear-gradient(#000000, #000000), linear-gradient(90deg, #AD29FF 0%, #00F6FF 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
