    .exhibitor-form {
        white-space: nowrap;
    }
    .exhibitor-form-header:after {
        display: block;
        content: "";
        height: 3px;
        background-color: #000;
        margin-top: 10px;
    }
    a.exhibitor-form svg {
        margin-left: 8px;
        margin-bottom: 2px;
    }
    a.exhibitor-form[aria-expanded="true"] svg {
        transform: rotate(180deg);
    }
