.notifier {
    position: relative;
    display: inline-block;
}

.bell {
    font-size: 26px;
    color: #FFF;
    transition: 0.3s;
}

.bell:hover {
    color: #EF476F;
}

.stay_open {
    display: block !important;
}

.notification-dropdown .dropdown--menu::before {
    right: 18%;
}

.no-result {
    color: red;
    font-size: 10px;
    margin-left: 25px;
}

.badges {
    position: absolute;
    top: -5px;
    left: 24px;
    padding: 0 5px;
    font-size: 16px;
    line-height: 22px;
    height: 22px;
    background: #EF476F;
    color: #FFF;
    border-radius: 11px;
    white-space: nowrap;
}

.notifier.green .badges {
    background: #06D6A0;
}

.notifier.green .bell:hover {
    color: #06D6A0;
}

.notifier.new .badges {
    animation: pulse 2s ease-out;
    animation-iteration-count: infinite;
}

.notify_time {
    font-size: 11px;
    /* position: relative;
     left: 145px;*/
}

.bold {
    color: #000;
    font-weight: bold;
    background: #ccc;
}

.bold .bgimage {
    color: #000;
    font-weight: bold;
    background: #ccc;
}

.bgimage {
    background: #fff;
    vertical-align: middle;
    /*margin-right:1em;*/
}

.dropdown:hover > .dropdown-menu {
    /*display: block;*/
}

@keyframes pulse {
    40% {
        transform: scale3d(1, 1, 1);
    }


    50% {
        transform: scale3d(1.3, 1.3, 1.3);
    }

    55% {
        transform: scale3d(1, 1, 1);
    }

    60% {
        transform: scale3d(1.3, 1.3, 1.3);
    }

    65% {
        transform: scale3d(1, 1, 1);
    }
}

.learning-dropdown .dropdown-toggle::after {
    display: none;
}