.mobile-app {
    background-color: #fff;
}
.mobile-app .logo-box a {
    margin-right: 1.5rem;
}
.mobile-app .left-menu li {
    margin-right: 1.5rem;
}
.mobile-app .left-menu li a {
    color: rgba(0,0,0,.5);
}
.mobile-app  .nav-tabs .nav-item.show .nav-link, .mobile-app  .nav-tabs .nav-link.active {
    border-color: transparent;
}
.mobile-app .nav-tabs .nav-item {
    margin: 0 15px;
}
.mobile-app .nav-tabs .nav-link {
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 5px 0;
}
.mobile-app .nav-tabs .nav-item.show .nav-link, .mobile-app .nav-tabs .nav-link.active {
    border-color: transparent;
    border-bottom: 4px solid #2557a7;
    font-weight: 700;
}
.mobile-app .media--card .media-body {
    border: none;
    box-shadow: none;
    margin: 0 1rem .75rem;
    border-radius: 8px;
}
.mobile-app #myTabContent #home {
    /* max-width: 65.25rem; */
    width: 100%;
    margin: 0 auto;
}
.mobile-app .media-card.media--card {
    box-shadow: none !important;
    border: 1px solid #2557a7;
}
.mobile-app .mobile-app .mob--full-width {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    box-shadow: 0 0.5rem 1rem rgba(45, 45, 45, 0.12), 0 0.25rem 0.5rem rgba(45, 45, 45, 0.16), 0 0 0.125rem rgba(45, 45, 45, 0.2);
}
.mobile-app .mobile-app .mob--full-width .form-group {
    margin-bottom: 0;
}
.mobile-app .mobile-app .mob--full-width .form-group input {
    padding: 8px 15px;
    border: 0;
    height: 60px;
}
.mobile-app select.search-mobile-app {
    border: 0;
    height: 60px;
    width: 100%;
    padding: 8px;
}
.mobile-app .right-detail-tab {
    padding: 12px 20px;
    /* margin: 1.5rem 0 .75rem; */
    border: 2px solid #ddd;
    border-radius: 12px;
}
.mobile-app .right-detail-tab h5 {
    font-weight: 500;
    font-size: 16px;
}
.mobileapp-search .mob--full-width {
    max-width: 900px;
    width: 100%;
    border: 1px solid #000;
    margin: 0 auto;
    border-radius: 8px;
}
.mobileapp-search .mob--full-width label {
    display: none;
}
.mobileapp-search .mob--full-width {}
.mobileapp-search .mob--full-width input {
    height: 60px;
    border: 0;
}


@media only screen and (max-width: 991px) {
    /* New mobile menu */
    .mobile-app-header .container {
        position: relative;
    }
    .mobile-app-header .mobile-user-menu {
        display: block !important;
    }
    .mobile-app-header  .logo-box {
        display: none;
    }
    .mobile-app-header .navbar-nav li {
        display: none !important;
    }
    .mobile-app-header .navbar-nav li:first-child {
        display: block !important;
        margin-right: 50px;
    }
    .mobile-app-header .off-canvas-menu-toggle {
        position: absolute;
        right: 8px;
        bottom: 5px;
        font-size: 30px;
        background-color: transparent;
        box-shadow: none !important;
    }
    .mobile-app-header .user-action {
        display: block;
    }
    .mobile-app-header .dropdown-menu-right {
        left: 0;
        right: auto;
    }
    .mobile-app-header .user-dropdown .dropdown--menu::before {
        left: 40px;
        right: auto !important;
    }
    .mobile-app-header .generic-list-item li a span {
        margin-left: 20px;
        text-align: left;
        width: calc(100% - 50px);
        font-size: 16px;
    }
    .mobile-app-header .off-canvas-menu {
        right: 0;
        left: auto;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(100%);
    }
    .mobile-app-header .off-canvas-menu-list > li > a {
        padding: 10px 20px;
    }
    .mobile-app-header .off-canvas-menu-close {
        background-color: transparent;
        box-shadow: none;
    }
}