    .connect {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
    }
    .connect li a.view-all-link {
        font-size: 12px;
        font-weight: 400;
        color: #2557A4;
        line-height: 1px;
        min-height: 25px;
        text-decoration: underline;
    }
    .connect li a.sub-link {
        font-size: 15px;
        font-weight: 400;
        color: #212121;
        line-height: 1;
        min-height: 25px;
        display: flex;
        align-items: center;
        /* border: 0.5px solid transparent; */
    }
    .connect li a.sub-link:hover {
        background-color: #2557A7;
        color: #ffffff;
        /* border-color:  #d3d3d3; */
    }
    .connect li a.sub-link.active {
        background-color: #2557A7;
        color: #ffffff;
    }
    .connect .p-left-title {
        padding-left: 45px;
    }
    .connect .p-left-content {
        padding-left: 49px;
    }
    .connect .c-title-bg {
        background-color: #CBDFFF;
        min-height: 43px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .connect .c-title {
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        color: #212121;
    }
    aside#connectsidebar {
        width: 100%;
        max-width: 244px;
        border-right: 1px solid #d3d3d3;

    }
    .connect .bor-btn {
        border: 1px solid #212121;
        font-size: 12px;
        line-height: 1.046;
        color: #212121;
        border-radius: 12px;
        padding: 4px 12px;
        min-width: 58px;
    }
    .connect .c-pro-img {
        width: 20px;
        min-width: 20px;
        height: 20px;
        min-height: 20px;
        border-radius: 100%;
        border: 0.5px solid #d3d3d3;
        object-fit: cover;
    }
